extends layout

block content

  each message in messages 
    h2= message.user
    h3= 'Message:'
    p= message.text
    h3= 'Sent on:'
    time(datetime=message.added)= message.added

  br
  br
  a(href='/new') Post a new message